:root{
    --color1: #19283f;
    --color2: #33d1cc;
    --color3: #ffc400;
    --color4: #ff3150;
    --color5: #eff7fa;
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}
/***** header Section *****/
.navbar, .offcanvas{
    background-color: var(--color1);
}
form button{
    color: var(--color3);
}
form .login, .search{
    transition: .3s ease;
}
form .login:hover, .search:hover{
    transform: scale(1.05);
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus{
    color: var(--color2);
}
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--color2);
}
.dropdown .dropdown-menu .dropdown-header{
    color: var(--color2);
}
.dropdown .dropdown-menu .dropdown-divider{
    background-color: var(--color2);
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem var(--color3);
}
/***** End header Section *****/

/***** main Section *****/
.main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color1);
}
.main .btn{
    transition: .3s ease;
}
.main .btn:hover{
    transform: scale(1.05);
}
/***** End main Section *****/

/***** services Section *****/

/* global title section */
section{
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
}
.section-title h2{
    color: var(--color2);
}
.section-title p{
    color: #777;
}
.section-title{
    position: relative;
    margin-bottom: 3rem;
}
.section-title::before{
    content: "";
    background-color: var(--color2);
    width: 7.5rem;
    height: .1rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}
/* ---------------------------------------------------- */
.services .services-icons{
    height: 200px;
}
.services .services-card .services-icons i{
    left: 50%;
    transform: translateX(-50%);
}
.services .services-card .services-icons i:first-child{
    font-size: 15rem;
    color: #777;
    opacity: .15;
}
.services .services-card .services-icons i:nth-child(2){
    font-size: 5rem;
    color: var(--color2);
}
.services .services-card h2{
    color: var(--color2);
    letter-spacing: -.1rem;
}
.services .services-card p{
    color: #777;
    text-align: justify;
    text-align-last:center;
}
/***** End services Section *****/

/***** portfolio Section *****/
.portfolio{
    background-color: var(--color5);
    box-shadow: 0px 10px 5px var(--color5), 0px -10px 5px var(--color5);
}
.portfolio .portfolio-card{
    position: relative;
    overflow: hidden;
    /* transition: .3s ease; */
}
.portfolio .portfolio-card::before{
    content: attr(custom-attribute);
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2px;
    background-color: #ffc400a4;
    color: #ff3150;
    border-radius: .1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-105%,4.5px );
    transition: .4s ease;
}
.portfolio .portfolio-card:hover::before{
    transform: translate(4.5px ,4.5px );
    z-index: 9999999;
}
.portfolio .portfolio-nav button:not(.active):hover{
    color: var(--color3);
}
.portfolio .portfolio-nav button.active{
    background-color: var(--color3);
}
.portfolio .portfolio-button button{
    transition: .3s ease;
}
.portfolio .portfolio-button button:hover{
    transform: scale(1.05);
}
/***** End portfolio Section *****/

/***** about Section *****/
.about{
    width: 100%;
    min-height: 100vh;
}
.about .about-top-text,
.about .about-left-text p{
    text-align: justify;
    text-align-last: center;
}
.about .about-left-text h3{
    color: #ff3150;
    letter-spacing: -2px;
}
@media (min-width:992px){
    .about .m-auto{
        width: 500px;
    }
    .about .about-left-text p{
        text-align-last: left;
    }
}
/***** End about Section *****/

/***** team Section *****/
.team{
    background-color: var(--color5);
    box-shadow: 0px 10px 5px var(--color5), 0px -10px 5px var(--color5);
}
.team .team-card{
    overflow: hidden;
}
.team .team-card img{
    transition: .3s ease;
}
.team .column:nth-of-type(1):hover img,
.team .column:nth-of-type(3):hover img{
    transform: scale(1.1) rotate(5deg);
}
.team .column:nth-of-type(2):hover img,
.team .column:nth-of-type(4):hover img{
    transform: scale(1.1) rotate(-5deg);
}
.team .team-card h4{
    background-color: #33d1cc;
    z-index: 999;
}
/***** End team Section *****/

/***** tech Section *****/
.tech{
    width: 100%;
    height: 20vh;
    background-color: var(--color3);
}
/***** End tech Section *****/

/***** project Section *****/
.project{
    width: 100%;
    min-height: 30vh;
    background-color: var(--color1);
}
/***** End project Section *****/

/***** blog Section *****/
.blog{
    width: 100%;
    min-height: 80vh;
}
/***** End blog Section *****/

/***** newsletter Section *****/
.newsletter{
    width: 100%;
    min-height: 20vh;
    background-color: var(--color3);
}
.newsletter form input{
    background: none;
}
.newsletter form input:focus{
    background: none;
}
/***** End newsletter Section *****/

/***** footer Section *****/
.footer{
    width: 100%;
    min-height: 50vh;
    background-color: var(--color1);
}
/***** End footer Section *****/